body{
  background-color: #3d2949;
}
.wrapper{
  width:80%;
  margin: 0 auto;
}

.box {
  background-color:white;
  width:40%;
  border-radius: 10px;
  margin: 0 auto;
  padding: 2%;
  min-width:400px;
  box-shadow: 10px 10px 15px black;
  border-top: solid 15px black;
}
button{
  display: block;
  margin: 10px auto;
  padding:2%;
  border-radius: 5px;
  background-color:black;
  color: white;
  
}

h1, h2, h3, footer {
  text-align: center;
}
h1, footer{
  color: white;
}